ArquiteturaSample.Site/Service References/SvcInstrutor/Instrutor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ArquiteturaSample.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArquiteturaSample.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInstrutor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Instrutor" nillable="true" type="tns:Instrutor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstrutor" nillable="true" type="tns:ArrayOfInstrutor" />
  <xs:complexType name="Instrutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCadastro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstrutorId" type="xs:int" />
      <xs:element minOccurs="0" name="NomeInstrutor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instrutor" nillable="true" type="tns:Instrutor" />
</xs:schema>